



*{
	box-sizing: border-box;
	font-family: Verdana;
	color:red;
}



html,body{
	margin:0;
	padding: .;
}


.nav ul{
	margin:0;

}
.nav li{
	display: inline;
}

.nav a{
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
}

.main-nav{
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255,255,255,.3);
}

.main-nav li{
	padding: 0 5%;

}


.nav a:hover 
{
	background-color: rgba(255,255,255,.3);
}


.main-header
{
	background-color: rgba(0,0,0,.6);
	background-image: url("sp.jpg.png");
	background-blend-mode: multiply;
	background-size: cover;
	padding-bottom: 30px;
}

.band-name{
	text-align: center;
	margin: 0;
	font-size: 4em;
	font-family: "verdana";
	font-weight: normal;
	color: red;

}

.band-name-large{
	font-size: 9em;

}

.content-section{
	margin: 1em;

}

.container{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;

}

.section-header{
	font-family: "verdana";
	font-weight: normal;
	color: #333;
	text-align: center;
	font-size: 2.5em;
}

.about-band-image
{
	float: left;
	height: 400px;
	width: 400px;
	margin: 15px;
	border-radius: 50%;
}

.main-footer{
	background-color: lightblue;
	color: white;
	padding: .25em 0;

}


<element class="main-footer-container">
.main-footer-container{
display: flex;

}

.main-footer-container{
	display: flex;
	align-items: center;

}

.main-footer-container ul{
	flex-grow: 1;
	text-align: end;
}

.footer-nav li{
	padding: 0 .5em;
}

.footer-nav img
{
	width: 30px;
	height: 30px;
}

.btn
{
	text-align: center;
	vertical-align: middle;
	padding:.67em;
	cursor: pointer;
}

.btn-header{
	margin: .5em 15% 2em 15%;
	color: lightblue;
	border: 2px solid red;
	background-color: rgba(255,255,255,.1);
	border-radius: 0;
	font-size: 1.5em;
	font-weight: lighter;
	padding-left: 2em;
	padding-right: 2em;

}


.btn-header:hover{
	background-color: rgba(255,255,255,.3);
	
}


.btn-play{
	display: block;
	margin: 0 auto;
color: orange;
font-size: 4em;
border-radius: 50%;
padding: 0;
width: 100px;
height: 100px;
}

table,th,td{
	border: 1px solid black;
	border-collapse: collapse;
}

th,td{
	padding: 15px;
}

th{
	text-align: left;
}

table{
	border-spacing: 5px;
}

.btn-primary{
	color: white;
	background-color: #56CCF2;
	border:none;
	border-radius: .3em;
	font-weight: bold;


}

.btn-primary:hover{
background-color: #2D9CDB;
}


.shop-item{
	margin: 30px;

}

.shop-item-title{
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: green;
	margin-bottom: 15px;
}

.shop-item-image{
	height: 250px;

}

.shop-item-details{
	display: flex;
	align-items: center;
	padding: 5px;
}

.shop-item-price{
	flex-grow: 1;
	color: #333;
}

.shop-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.Cart-header{
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
}

.Cart-column
{
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.Cart-row{
	display: flex;

}

.Cart-item{
width: 45%;
}

.Cart-price{
width: 20%;
font-size: 1.2em;
color: #333;
}
.Cart-quantity{
width: 35%;
}

.Cart-item-title{
	color: #333;
	margin-left: .5em;
	font-size: 1.2em;
}

.Cart-item-image{
	width: 75px;
	height: auto;
	border-radius: 10px;
}

header{
	font-size: 24px;
	font-family: sans-serif,verdana;
	text-align: center;
	background-color: pink;
}


body{
	font-family: verdana;
	background-color: lightblue;

}



main{
	margin-left: 120px;
}

.box{
	display: block;
	float: left;
	width:30%; 
	padding: 10px;
	padding-left: 15px;
	background-color: pink;
	




}

img{
	width: 100%;
	


}
img:hover{
	transform: scale(2,2);
	transition: .3s transform;
	
}